{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}



<!-- features-area start -->
<div id="about" class="features-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about-me mb-30">
                    <img src="{% static "web/img/bg/me.png" %}" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about-me-info mt-30 mb-30 pl-30">
                    <span>Hello</span>
                    <h2>I am Asir Muhammed <br> Web Developer and  Designder <br> From kerala, India.  </h2>
                    <p>Results-oriented Python
                        Django Developer with 1
                        years of experience in
                        designing,
                        implementing, testing,
                        and maintaining web
                        applications. Adept at
                        collaborating with
                        cross-functional teams
                        to drive project success.
                        Proven ability to solve
                        complex problems and
                        deliver high-quality
                        solutions.</p>
                    
                    <div class="info-me mb-30">
                        <h6><span>Mail</span>: <a href="https://www.wphix.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8ffce0e7eae3fdeee1eecfe8e2eee6e3a1ece0e2">[email&#160;protected]</a></h6>
                        <h6><span>Phone</span>: +91 9656949008</h6>
                    </div>
                    <a href="{% url "web:contact" %}" class="btn smoth-scroll">Hire Me</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features-area end -->
<!-- RESUME -->
<div id="resume" class="resume-area gray-bg pt-115 pb-70">
    <div class="container">
        <div class="row">
            
            <!-- RESUME COLUMN -->
            <div class="col-md-3 col-lg-3">
                <div class="profile wow fadeInUp" data-wow-delay=".5s">
                    <div class="profile-icon">
                        <span class="icon icon-CompassTool"></span>
                    </div>
                    <h3 class="profile-title">Education</h3>
                    <hr class="divider divider-gross m-b-30">

                    <div class="profile-content">
                        <h6>Calicut univercity</h6>
                        <p>Bachelor of politicalScience</p>
                    </div>
                    <div class="profile-content">
                        <h6>Gvhss pullanur</h6>
                        <p>12th</p>
                    </div>
                    <div class="profile-content">
                        <h6>Vhmhss morayur</h6>
                        <p>10th</p>
                    </div>
                </div>
            </div>
            <!-- /RESUME COLUMN -->

            <!-- RESUME COLUMN -->
            <div class="col-md-3 col-lg-3">
                <div class="profile wow fadeInUp" data-wow-delay=".7s">
                    <div class="profile-icon">
                        <span class="icon icon-Tie"></span>
                    </div>
                    <h3 class="profile-title">Experience</h3>
                    <hr class="divider divider-gross m-b-30">

                    <div class="profile-content">
                        <h6>python developer</h6>
                        <p>gedexo technologies LLP</p>
                    </div>
                    
                </div>
            </div>
            <!-- /RESUME COLUMN -->

            <!-- RESUME COLUMN -->
            <div class="col-md-3 col-lg-3">
                <div class="profile wow fadeInUp" data-wow-delay=".9s">
                    <div class="profile-icon">
                        <span class="icon icon-Medal"></span>
                    </div>
                    <h3 class="profile-title">My Skills</h3>
                    <hr class="divider divider-gross m-b-30">

                    <h6 class="progress-title">Pytho</h6>
                    <h6 class="progress-title">Django</h6>
                    <h6 class="progress-title">HTML</h6>
                    <h6 class="progress-title">Css</h6>
                    <h6 class="progress-title">Javascript</h6>
                    <h6 class="progress-title">Bootstrap</h6>
                    <h6 class="progress-title">Git</h6>
                    <h6 class="progress-title">Github</h6>
                   
                    

                    

                </div>
            </div>
            <!-- /RESUME COLUMN -->
        </div>
    </div>
</div>
<!-- /RESUME -->










{% endblock content %}