{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}



<!-- features-area start -->
<div id="about" class="features-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about-me mb-30">
                    <img src="{% static "web/img/bg/me.png" %}" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about-me-info mt-30 mb-30 pl-30">
                    <span>Hello</span>
                    <h2>I am Asir Muhammed <br> Web Developer and  Designder <br> From kerala, India.  </h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a
                    small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    <p>We have awesome team for your next project. </p>
                    <div class="info-me mb-30">
                        <h6><span>Mail</span>: <a href="https://www.wphix.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8ffce0e7eae3fdeee1eecfe8e2eee6e3a1ece0e2">[email&#160;protected]</a></h6>
                        <h6><span>Phone</span>: +91 9656949008</h6>
                    </div>
                    <a href="{% url "web:contact" %}" class="btn smoth-scroll">Hire Me</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features-area end -->
<!-- RESUME -->
<div id="resume" class="resume-area gray-bg pt-115 pb-70">
    <div class="container">
        <div class="row">
            <!-- RESUME COLUMN -->
            <div class="col-md-6 col-lg-3">
                <div class="profile wow fadeInUp" data-wow-delay=".3s">
                    <div class="profile-icon">
                        <span class="icon icon-Cup"></span>
                    </div>
                    <h3 class="profile-title">Awards</h3>
                    <hr class="divider divider-gross m-b-30">

                    <div class="profile-content">
                        <h6>Best Plugin Developer</h6>
                        <p>Winner</p>
                    </div>
                    <div class="profile-content">
                        <h6>Best Front-End Developers</h6>
                        <p>Top Front-End Developer</p>
                    </div>
                    <div class="profile-content">
                        <h6>Design Conference</h6>
                        <p>Best UI/UX Designer</p>
                    </div>
                </div>
            </div>
            <!-- /RESUME COLUMN -->

            <!-- RESUME COLUMN -->
            <div class="col-md-6 col-lg-3">
                <div class="profile wow fadeInUp" data-wow-delay=".5s">
                    <div class="profile-icon">
                        <span class="icon icon-CompassTool"></span>
                    </div>
                    <h3 class="profile-title">Education</h3>
                    <hr class="divider divider-gross m-b-30">

                    <div class="profile-content">
                        <h6>University of Peoples</h6>
                        <p>Bachelor of Science</p>
                    </div>
                    <div class="profile-content">
                        <h6>College of Ahsanullah</h6>
                        <p>Master of Fine Arts</p>
                    </div>
                    <div class="profile-content">
                        <h6>School of Hafiz Uddin</h6>
                        <p>Bachelor of Design</p>
                    </div>
                </div>
            </div>
            <!-- /RESUME COLUMN -->

            <!-- RESUME COLUMN -->
            <div class="col-md-6 col-lg-3">
                <div class="profile wow fadeInUp" data-wow-delay=".7s">
                    <div class="profile-icon">
                        <span class="icon icon-Tie"></span>
                    </div>
                    <h3 class="profile-title">Experience</h3>
                    <hr class="divider divider-gross m-b-30">

                    <div class="profile-content">
                        <h6>Front-End Developer</h6>
                        <p>Themeforest Marketplace</p>
                    </div>
                    <div class="profile-content">
                        <h6>Lead Developer</h6>
                        <p>Creative Art company</p>
                    </div>
                    <div class="profile-content">
                        <h6>UI/UX Engineer</h6>
                        <p>Design Studio</p>
                    </div>
                </div>
            </div>
            <!-- /RESUME COLUMN -->

            <!-- RESUME COLUMN -->
            <div class="col-md-6 col-lg-3">
                <div class="profile wow fadeInUp" data-wow-delay=".9s">
                    <div class="profile-icon">
                        <span class="icon icon-Medal"></span>
                    </div>
                    <h3 class="profile-title">My Skills</h3>
                    <hr class="divider divider-gross m-b-30">

                    <h6 class="progress-title">HTML</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>95%</span>
                        </div>
                    </div>

                    <h6 class="progress-title">CSS</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>

                    <h6 class="progress-title">PHP</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>75%</span>
                        </div>
                    </div>

                    <h6 class="progress-title">WordPress</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>80%</span>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /RESUME COLUMN -->
        </div>
    </div>
</div>
<!-- /RESUME -->










{% endblock content %}