{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}



<!-- basic-blog-area -->
<div id="blog" class="basic-blog-area gray-bg pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 offset-lg-2 offset-xl-3">
                <div class="area-title text-center mb-70">
                    <h2>Latest News</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 blog-item mb-30">
                <div class="blog-wrapper blog-column">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="{% static "web/img/blog/1.jpg" %}" alt="" />
                        </a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            <a href="blog-details.html">How to Create a RetroPie on Raspberry Graphical.</a>
                        </h2>
                        <p>But I must explain to you how all mistaken idea of denouncing pleasure and praising pain was born
                            and I will give you a full account of the system... </p>
                    </div>
                    <div class="meta-info">
                        <ul>
                            <li class="posts-time">January 28, 2017</li>
                            <li class="comments-count">
                                <a href="#">4 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 blog-item mb-30">
                <div class="blog-wrapper blog-column">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="{% static "web/img/blog/2.jpg" %}" alt="" />
                        </a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            <a href="blog-details.html">Designers Use Uncode’s Visuals for Great Visitor area.</a>
                        </h2>
                        <p>But I must explain to you how all mistaken idea of denouncing pleasure and praising pain was born
                            and I will give you a full account of the system... </p>
                    </div>
                    <div class="meta-info">
                        <ul>
                            <li class="posts-time">January 28, 2017</li>
                            <li class="comments-count">
                                <a href="#">4 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 blog-item mb-30">
                <div class="blog-wrapper blog-column">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="{% static "web/img/blog/3.jpg" %}" alt="" />
                        </a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            <a href="blog-details.html">How to Use Design Thinking to Solve common Problems.</a>
                        </h2>
                        <p>But I must explain to you how all mistaken idea of denouncing pleasure and praising pain was born
                            and I will give you a full account of the system... </p>
                    </div>
                    <div class="meta-info">
                        <ul>
                            <li class="posts-time">January 28, 2017</li>
                            <li class="comments-count">
                                <a href="#">4 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-blog-area end -->










{% endblock content %}