{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}


<!-- basic-service-area start -->
<div id="service" class="basic-service-area pt-115 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 offset-lg-2 offset-xl-3">
                <div class="area-title text-center mb-70">
                    <h2>What i Do. </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  mb-50">
                <div class="service-box wow fadeIn" data-wow-delay=".3s">
                    <div class="service-icon">
                        <span class="icon icon-Book"></span>
                    </div>
                    <div class="service-content">
                        <h3>App Development</h3>
                        <p>What really sets Creative Agency apart from other agencies is our superior customer centric focus,
                            our long-term, highly trusted professional partner ethos and above all</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mb-50">
                <div class="service-box wow fadeIn" data-wow-delay=".5s">
                    <div class="service-icon">
                        <span class="icon icon-MusicMixer"></span>
                    </div>
                    <div class="service-content">
                        <h3>Web Development</h3>
                        <p>What really sets Creative Agency apart from other agencies is our superior customer centric focus,
                            our long-term, highly trusted professional partner ethos and above all</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-50">
                <div class="service-box wow fadeIn" data-wow-delay=".7s">
                    <div class="service-icon">
                        <span class="icon icon-DesktopMonitor"></span>
                    </div>
                    <div class="service-content">
                        <h3>Responsive design</h3>
                        <p>What really sets Creative Agency apart from other agencies is our superior customer centric focus,
                            our long-term, highly trusted professional partner ethos and above all</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-50">
                <div class="service-box wow fadeIn" data-wow-delay=".9s">
                    <div class="service-icon">
                        <span class="icon icon-Notes"></span>
                    </div>
                    <div class="service-content">
                        <h3>Designs & interfaces</h3>
                        <p>What really sets Creative Agency apart from other agencies is our superior customer centric focus,
                            our long-term, highly trusted professional partner ethos and above all</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-50">
                <div class="service-box wow fadeIn" data-wow-delay="1.1s">
                    <div class="service-icon">
                        <span class="icon icon-Settings"></span>
                    </div>
                    <div class="service-content">
                        <h3>Highly customizable</h3>
                        <p>What really sets Creative Agency apart from other agencies is our superior customer centric focus,
                            our long-term, highly trusted professional partner ethos and above all</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-50">
                <div class="service-box wow fadeIn" data-wow-delay="1.3s">
                    <div class="service-icon">
                        <span class="icon icon-Message"></span>
                    </div>
                    <div class="service-content">
                        <h3>Dedicated support</h3>
                        <p>What really sets Creative Agency apart from other agencies is our superior customer centric focus,
                            our long-term, highly trusted professional partner ethos and above all</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-service-area end -->
<!-- counter-area-start -->
<div class="counter-area pt-150 pb-120" style="background-image:url({% static "web/img/bg/bg7.jpg" %})">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="counter-wrapper text-center mb-30 wow fadeInUp" data-wow-delay=".3s">
                    <div class="counter-icon">
                        <span class="icon icon-Starship"></span>
                    </div>
                    <div class="counter-text">
                        <h1 class="counter">953</h1>
                        <span>Win Awards</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="counter-wrapper text-center mb-30 wow fadeInUp" data-wow-delay=".6s">
                    <div class="counter-icon">
                        <span class="icon icon-Cup"></span>
                    </div>
                    <div class="counter-text">
                        <h1 class="counter">1564</h1>
                        <span>Project Complated</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="counter-wrapper text-center mb-30 wow fadeInUp" data-wow-delay=".9s">
                    <div class="counter-icon">
                        <span class="icon icon-Like"></span>
                    </div>
                    <div class="counter-text">
                        <h1 class="counter">8362</h1>
                        <span>Satisfied Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="counter-wrapper text-center mb-30 wow fadeInUp" data-wow-delay="1.2s">
                    <div class="counter-icon">
                        <span class="icon icon-CompactCamera"></span>
                    </div>
                    <div class="counter-text">
                        <h1 class="counter">265</h1>
                        <span>Cuf Coffee</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter-area-end -->











{% endblock content %}